@media (max-width:500px) {
  .main-container {
      grid-template-areas: "header header "
      "search search"
      "main main";
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      grid-template-rows: 80px 80px;
  }
}
@media(max-width:500px) {
  .menu {
      display: block;
      padding: 1.1rem 1.3rem;
      background-color: #FCFCFC;
      border-radius: 5px;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  }
  .menu img {
      width: 20px;
      height: 20px;
      object-fit: cover;
  }
}

@media (max-width:500px) {
  .aside {
      position: absolute;
      z-index: 9999;
      height: calc(100% - 8rem);
      top: 8rem;
  }
  .show-aside {
      display: none;
  }
}
