
@media(max-width:800px) {
  .menu {
      display: block;
      padding: 1.1rem 1.3rem;
      background-color: #FCFCFC;
      border-radius: 5px;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  }
  .menu img {
      width: 20px;
      height: 20px;
      object-fit: cover;
  }
}

@media (max-width:800px) {
  .aside {
      position: absolute;
      z-index: 9999;
      height: calc(100% - 8rem);
      top: 8rem;
  }
  .show-aside {
      display: none;
  }
}
.back-icon{
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.back-icon img{
  width: 24px;
  height: 44px;
  object-fit: cover;
}