
.main-message p{
  margin-bottom: 0px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 19.2px;
  text-align: right;
  color: #2E2E2E;

}

@media (max-width:800px) {
  .main-message p{
    text-align: center;
  }
}