.notification{
  width: 334px;
  height: 556px;
  padding:2.4rem 1rem;
  background-color: #fff;
}
.notification header h1{
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 19.2px;
  text-align: center;
  color: #5F5F5F;
  margin-bottom: 0px;
}
.notification header{
  margin-bottom: 3rem;
}
.notification-item{
  padding:2rem;
  border:1px solid #DEEEFA;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.3rem;
}
.notification-item img{
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.notification-item p{
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 19.2px;
  text-align: right;
  color: #5F5F5F;
}
/* language */

.language,
.ugrants{
  padding:1.2rem;
  border-radius: 8px;
  width: 197px;
  border:1px solid #DEEEFA;
  text-align: center;
}
.language p{
  padding:1.6rem 4.1rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 16.8px;
  color: #5F5F5F;
  border-bottom: 0.5px solid #DEEEFA;
  margin-bottom: 0px;
}
.ugrants p{
  padding:1.6rem 5.8rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 16.8px;
  color: #5F5F5F;
  border-bottom: 0.5px solid #DEEEFA;
  margin-bottom: 0px;
}
.language p:last-child,
.ugrants p:last-child{
  border: none;
}