.payment-main{
  width: 100%;
}
@media (max-width:800px) {
  .main-container {
      grid-template-areas: "header header " "main main";
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
  }
}
@media(max-width:800px) {
  .menu {
      display: block;
      padding: 1.1rem 1.3rem;
      background-color: #FCFCFC;
      border-radius: 5px;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  }
  .menu img {
      width: 20px;
      height: 20px;
      object-fit: cover;
  }
}

@media (max-width:800px) {
  .aside {
      position: absolute;
      z-index: 9999;
      height: calc(100% - 8rem);
      top: 8rem;
  }
  .show-aside {
      display: none;
  }
}
.payment-main .table {
  margin-top: 1.2rem;
  padding: 0.8rem
}

.payment-main .table>:not(caption)>*>* {
  padding: 1.2rem
}
@media (max-width:800px) {
  .payment-main .table>:not(caption)>*>* {
    padding: 0.6rem
  }
}


.th-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6rem;
}

@media (max-width:800px) {
  .th-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:0.1rem;
  }
  .table thead tr th {
      font-size: 1.2rem;
  }
}

.table thead tr th {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  text-align: right;
  color: #424242;
}
@media (max-width:800px) {
  .table thead tr th  {
    font-size:1rem;
  }
}



label.check-table,
.table tbody tr td {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 19.2px;
  text-align: right;
  color: #424242;
}
@media (max-width:800px) {
  
label.check-table,
.table tbody tr td  {
    font-size:1rem;
    text-wrap: nowrap
  }
}

.table .form-check-input {
  float: right;
  margin-left: 0.6rem;
  margin-right: 0px;
  padding: 0.9rem;
}

@media (max-width:800px) {
  .table .form-check-input {
      padding: 0.4rem;
  }
}


.total-price {
  padding-top: 2rem;
  padding-bottom: 1.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.6rem;
  margin-top: 1.2rem;
}

.total-price h3 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  text-align: right;
  color: #2E2E2E;
}

.total-price p {
  color: #167CC8;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  text-align: right;
}
